@page "/"


<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">欢迎来到 .NET 爱好者社区</h1>
        <p class="col-md-8 fs-4">汇聚 .NET 相关资源，如官方教程、国外优秀文章翻译、活动访谈回访、.NET 资源链接、优秀开源项目介绍。</p>
        <a class="btn btn-lg btn-primary btn-purple" role="button" href="https://github.com/ElderJames/fansof.net" target="_blank">
            <i class="bi bi-github"></i>
            点击参与
        </a>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>共同建设</h2>
            <p>本站点正在构建中，咨询部分做好后，会增加社区活动和问答等功能。本站点是开源的，如果您想为社区出一份力，请在 Github 中提出你的宝贵意见和代码！</p>
            <a class="btn btn-outline-light" role="button" href="https://github.com/ElderJames/fansof.net" target="_blank">
                <i class="bi bi-github"></i>
                点击参与
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>架构设想</h2>
            <p>整个站点基于 .NET 6 构建，前端使用 Blazor，后端遵循整洁架构，部署在 Azure 的 Docker 上。如果您有更多的建议，请在 Github 中一起探讨。</p>
            <a class="btn btn-outline-secondary" href="https://github.com/ElderJames/fansof.net" target="_blank">
                <i class="bi bi-github"></i>
                点击参与
            </a>
        </div>
    </div>
</div>